from fastapi import Request
from ..model.{{model_file_name}} import {{model_name}}, {{model_name}}Create
from senweaver.core.senweaver_creator import SenweaverEndpointCreator

class {{logic_class_name}}Logic:

    @classmethod
    def add_custom_router(cls, endpoint_creator: SenweaverEndpointCreator):
        # TODO 自定义路由
        pass    


{{ logic_name }}_logic={{logic_class_name}}Logic