name: {{ module_name }}
version: {{ version }}
title: {{ title }}
description: {{ description }}
author: {{ author }}
enabled: true
homepage: {{ homepage }}
url: /{{ module_name }}/web
option:
  param1: value1
  param2: value2
