# -*- coding: utf-8 -*-
from pathlib import Path

from fastapi import FastAPI

from senweaver.module import {{ module_type_name }}Module


class {{ model_class_name }}{{ module_type_name }}({{ module_type_name }}Module):

    async def run(self):
        """项目启动完成后执行的处理逻辑"""
        pass


module = {{ model_class_name }}{{ module_type_name }}(module_path=Path(__file__).parent, package=__package__)


def initialize(app: FastAPI):
    module.start(app)