# -*- coding: utf-8 -*-
from fastapi import FastAPI
import typer
from senweaver.module.plugin import PluginModule
from pathlib import Path

class {{ model_class_name }}Plugin(PluginModule):

    def run(self):
        pass

module = {{ model_class_name }}Plugin(module_path=Path(__file__).parent, package=__package__)

def initialize(app: FastAPI):
    module.start(app)


def concole(app: typer.Typer):    
    pass

