name: {{module_name}}
version: 1.0.0
title: {{module_name}}
description: {{module_name}} app
author: senweaver
enabled: true
homepage: https://www.senweaver.com
url: /{{module_name}}/web
option:
  param1: value1
  param2: value2
